<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fincart.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ECCEC427F323BB07AE79D07F2AE8E679EFADCA38</string>
				<key>dateExpires</key>
				<string>13/02/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECCEC427F323BB07AE79D07F2AE8E679EFADCA38</string>
						<key>dateExpires</key>
						<string>13/02/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZDSVES8VL</string>
						<key>name</key>
						<string>3E ADVISORS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECCEC427F323BB07AE79D07F2AE8E679EFADCA38</string>
						<key>dateExpires</key>
						<string>13/02/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DLRadioButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZDSVES8VL</string>
						<key>name</key>
						<string>3E ADVISORS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECCEC427F323BB07AE79D07F2AE8E679EFADCA38</string>
						<key>dateExpires</key>
						<string>13/02/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DynamicBlurView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZDSVES8VL</string>
						<key>name</key>
						<string>3E ADVISORS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECCEC427F323BB07AE79D07F2AE8E679EFADCA38</string>
						<key>dateExpires</key>
						<string>13/02/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EPSignature.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZDSVES8VL</string>
						<key>name</key>
						<string>3E ADVISORS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECCEC427F323BB07AE79D07F2AE8E679EFADCA38</string>
						<key>dateExpires</key>
						<string>13/02/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZDSVES8VL</string>
						<key>name</key>
						<string>3E ADVISORS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECCEC427F323BB07AE79D07F2AE8E679EFADCA38</string>
						<key>dateExpires</key>
						<string>13/02/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PopupDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZDSVES8VL</string>
						<key>name</key>
						<string>3E ADVISORS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECCEC427F323BB07AE79D07F2AE8E679EFADCA38</string>
						<key>dateExpires</key>
						<string>13/02/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RESideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZDSVES8VL</string>
						<key>name</key>
						<string>3E ADVISORS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECCEC427F323BB07AE79D07F2AE8E679EFADCA38</string>
						<key>dateExpires</key>
						<string>13/02/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftSignatureView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZDSVES8VL</string>
						<key>name</key>
						<string>3E ADVISORS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECCEC427F323BB07AE79D07F2AE8E679EFADCA38</string>
						<key>dateExpires</key>
						<string>13/02/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftSoup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZDSVES8VL</string>
						<key>name</key>
						<string>3E ADVISORS PRIVATE LIMITED</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ECCEC427F323BB07AE79D07F2AE8E679EFADCA38</string>
						<key>dateExpires</key>
						<string>13/02/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VZDSVES8VL</string>
						<key>name</key>
						<string>3E ADVISORS PRIVATE LIMITED</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VZDSVES8VL.com.fincart.apps</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VZDSVES8VL</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>VZDSVES8VL.com.fincart.apps</string>
				</array>
			</dict>
			<key>name</key>
			<string>Fincart.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1f5788a5-90b4-4ee8-a14d-760025f3d467</string>
				<key>name</key>
				<string>Adhoc_profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VZDSVES8VL</string>
				<key>name</key>
				<string>3E ADVISORS PRIVATE LIMITED</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
